
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.container {
    background-color: white;
    width: 400px;
    padding: 25px;
    border-radius: 12px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-area {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;

    background-color: #007bff;
    color: white;

    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 8px;

    border-radius: 6px;
}

li span {
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.delete-btn {
    background-color: #dc3545;
    padding: 5px 10px;
}

.delete-btn:hover {
    background-color: #a71d2a;
}